@charset "utf-8";
/* CSS Document */
/* Begin topContainer */
#HCContent {
	width:753px;
	height:258px;
	margin:30px auto 0 auto;
    text-align:center;
	color:#FFFFFF;
}
#HCCLeft, #HCCMiddle, #HCCRight {
	float:left;
}
#HCCLeft img {
	border-top:1px solid #FFFFFF;
	border-left:1px solid #FFFFFF;
	border-bottom:1px solid #FFFFFF;
}
#HCCMiddle img {
	border-top:1px solid #FFFFFF;
	border-bottom:1px solid #FFFFFF;
}
#HCCRight img {
	border-top:1px solid #FFFFFF;
	border-right:1px solid #FFFFFF;
	border-bottom:1px solid #FFFFFF;
}
/* End   topContainer */

/* Begin middleContainer */
#MCTop {
	width:790px;
	margin:0px 85px;
	_margin:0px 95px;
}
#MCBottom {
	width:790px;
	margin:0px 85px;
	_margin:0px 95px;
}
/* End   middleContainer */